    <!-- TOP MENU -->
    <!-- ########## -->
    <div id="top-menu">
        <div class="left logo">
            <i class="fa fa-file-text-o"></i> FileEssence
        </div>
        <div class="right user">
            <img src="assets/img/avatar.png">
            <div class="user-name-holder">
                <p class='user-name'>Luis</p>
            </div>

        </div>
    </div>

    <!-- SEARCH BAR -->
    <!-- ########## -->
    <div id="search-bar">
          <%= form_tag root_path, method: 'get', class: 'search-query' do %>
            <%= text_field_tag :q , nil, placeholder: "Search"%>
          <% end %>
    </div> <!-- end of search bar div -->

    <!-- DROPPABLE ZONE -->
    <!-- ########## -->
<!-- 
    <div id="drop-zone">
        <div class="droppable-area">
            <p class="drop-comment">Drop file here!</p>
        </div>
    </div> -->

    <!-- FILE LIST -->
    <!-- ########## -->
    <div id="file-list">
        <table class="item-list">
            <tr>
                <th>Name</th>
                <th>Notes</th>
                <th>Kind</th>
                <th>Modified</th>
            </tr>
            <% @assets.each do |a| %>
              <tr class="doc">
                  <td><%= link_to a.asset.file.filename, a.asset.url %></td>
                  <td><%= a.notes %></td>
                  <td><%= get_kind(get_extension(a.asset.file.filename)) %></td>
                  <td><%= a.created_at.strftime("%m/%d/%Y") %></td>
              </tr>
            <% end %>
        </table>

    </div>
<!-- <h1>Homepage</h1>
<%= link_to "New Upload", new_asset_path %>
<br />
<%= link_to "Dashboard", charts_path %>
<br />
<h2>Most Recent Searches</h2>
<% @searches.each do |s| %>
  <%= link_to s, root_url(q: s) %>
  <br />
<% end %>
Search -->
