<h1>Homepage</h1>
<%= link_to "New Upload", new_asset_path %>
<br />
<%= link_to "Dashboard", charts_path %>
<br />
<h2>Most Recent Searches</h2>
<% @searches.each do |s| %>
  <%= link_to s, root_url(q: s) %>
  <br />
<% end %>
Search
<%= form_tag root_path, method: 'get' do %>
  <%= text_field_tag :q %>
<% end %>
<% if @assets %>
  <% @assets.each do |a| %>
    <%= link_to a.asset.file.filename, a.asset.url %> |
    <%= a.notes %>
    <br/>
  <% end %>
<% end %>