<!DOCTYPE html>
<html>
<head>
  <title>Intellidocs</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>
    <!-- TOP MENU -->
    <!-- ########## -->
    <div id="top-menu">
        <div class="left logo">
            <i class="fa fa-file-text-o"></i><%= link_to "Intellidocs", root_url %>
        </div>
        <div class="right user">
            <img src="assets/img/avatar.png">
            <div class="user-name-holder">
                <p class='user-name'>Luis</p>
            </div>

        </div>
        <div class="menu-space">
            <p class='menu'><%= link_to "Dashboard", charts_path %></p>
            <p class='menu'><%= link_to "Upload", new_user_asset_path(current_user) %></p>
        </div>

    </div>

    <!-- SEARCH BAR -->
    <!-- ########## -->
    <div id="search-bar">
          <%= form_tag root_path, method: 'get', class: 'search-query' do %>
            <%= text_field_tag :q , nil, placeholder: "Search"%>
          <% end %>
    </div> <!-- end of search bar div -->
<%= yield %>

</body>
</html>
